<section class="catalogue-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="filtration-block">

                </div>
            </div>
            <div class="col-lg-9">
                <div class="product-cards-block">
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="" class="product-card-link">
                                <div class="product-card-image-block">
                                    <img src="assets/images/card_image1.png" alt="">
                                </div>
                                <div class="product-card-name">
                                    <p>Худі</p>
                                </div>
                                <div class="product-card-price">
                                    <p><span>1 199</span> UAH</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="" class="product-card-link">
                                <div class="product-card-image-block">
                                    <img src="assets/images/card_image2.png" alt="">
                                </div>
                                <div class="product-card-name">
                                    <p>Худі</p>
                                </div>
                                <div class="product-card-price">
                                    <p><span>1 199</span> UAH</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="" class="product-card-link">
                                <div class="product-card-image-block">
                                    <img src="assets/images/card_image3.png" alt="">
                                </div>
                                <div class="product-card-name">
                                    <p>Худі</p>
                                </div>
                                <div class="product-card-price">
                                    <p><span>1 199</span> UAH</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="" class="product-card-link">
                                <div class="product-card-image-block">
                                    <img src="assets/images/card_image4.png" alt="">
                                </div>
                                <div class="product-card-name">
                                    <p>Худі</p>
                                </div>
                                <div class="product-card-price">
                                    <p><span>1 199</span> UAH</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="" class="product-card-link">
                                <div class="product-card-image-block">
                                    <img src="assets/images/card_image5.png" alt="">
                                </div>
                                <div class="product-card-name">
                                    <p>Худі</p>
                                </div>
                                <div class="product-card-price">
                                    <p><span>1 199</span> UAH</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="" class="product-card-link">
                                <div class="product-card-image-block">
                                    <img src="assets/images/card_image6.png" alt="">
                                </div>
                                <div class="product-card-name">
                                    <p>Худі</p>
                                </div>
                                <div class="product-card-price">
                                    <p><span>1 199</span> UAH</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>