<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="header-top d-flex">
                <div class="sex-divider">
                    <a href="#">Жінкам</a>
                    <a [routerLink]="['/catalogue']" class="active-sex-divider">Чоловікам</a>
                </div>
                <a href="" class="site-logo">
                    <img src="assets/images/logo.svg" alt="logo">
                </a>
                <div class="navbar-content">
                    <div class="search-bar">
                        <form role="search" id="form" class="search-form">
                            <label for="query">Search</label>

                            <input type="search" id="query" name="q"
                                   aria-label="Search through site content"
                                   autocomplete="off"
                            >
                            <button>
                                <img src="assets/images/search-logo.svg" alt="search-button">
                            </button>
                        </form>
                    </div>
                    <div class="cart-profile-block">
                        <a [routerLink]="['/profile']">
                            <img src="assets/images/profile-logo.svg" alt="profile">
                        </a>
                        <a [routerLink]="['/cart']">
                            <img src="assets/images/product-cart.svg" alt="cart">
                        </a>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="header-catalogue-content">
                    <a href="#">Зимові наряди</a>
                    <a href="#">Куртки, пальта</a>
                    <a href="#">Жилети</a>
                    <a href="#">Светри</a>
                    <a href="#">Сорочки</a>
                    <a href="#">Піджаки</a>
                    <a href="#">Штани</a>
                    <a href="#">Джинси</a>
                    <a href="#">Світшоти</a>
                    <a href="#">Футболки</a>
                    <a href="#">Поло</a>
                    <a href="#">Костюми</a>
                </div>
            </div>
        </div>
    </nav>
</header>
