<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-top-label">
                        <p>Каталог</p>
                    </div>
                    <div class="footer-top-links">
                        <a href="#">Жінкам</a>
                        <a href="#">Чоловікам</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-top-label">
                        <p>Відгуки</p>
                    </div>
                    <div class="footer-top-links">
                        <a href="#">Програма лояльності</a>
                        <a href="#">Вартість та час доставки</a>
                        <a href="#">Повернення товару</a>
                        <div class="footer-payment-methods">
                            <img src="assets/images/visa-logo.svg" alt="visa">
                            <img src="assets/images/mastercard-logo.svg" alt="mastercard">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-top-label">
                        <p>Умови і положення</p>
                    </div>
                    <div class="footer-top-links">
                        <a href="#">Політика конфіденційності</a>
                        <a href="#">Правила та умови інтернет-магазину</a>
                        <a href="#">Політика щодо файлів cookie</a>
                        <a href="#">Налаштування файлів cookie</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-top-label">
                        <p>Наші соціальні мережі</p>
                    </div>
                    <div class="footer-top-soc-links">
                        <a href="">
                            <img src="assets/images/facebook-logo.svg" alt="">
                        </a>
                        <a href="">
                            <img src="assets/images/insta-logo.svg" alt="">
                        </a>
                        <a href="">
                            <img src="assets/images/tg-logo.svg" alt="">
                        </a>
                    </div>
                    <div class="footer-top-label">
                        <p>Мова сайту</p>
                    </div>
                    <div class="lang-changer">
                        <a href="#" class="active">UK</a>
                        <span>|</span>
                        <a href="">EN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <div class="footer-bottom-logo">
                    <a href="">
                        <img src="assets/images/logo-white.svg" alt="logo">
                    </a>
                </div>
                <div class="copyright-block">
                    <p>© 2023 - Усі права захищені</p>
                </div>
            </div>
        </div>
    </div>
</footer>