<form [formGroup]="userForm" class="container mb-5 mt-5">
    <h2 class="text-3xl mb-4">Налаштування облікового запису</h2>
    <div>
        <h3 class="text-muted text-uppercase mb-4">Інформація про обліковий запис</h3>
        <div class="mb-5" >
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                        type="email"
                        class="form-control"
                        formControlName="email"
                        id="email"
                />
            </div>
        </div>
    </div>
    <div class="mb-5 mt-4">
        <h3 class="text-muted text-uppercase mb-4">Персональні дані</h3>
        <div class="row g-3">
            <div class="col">
                <label for="firstName" class="form-label">Ім'я</label>
                <input
                        type="text"
                        class="form-control"
                        id="firstName"
                        formControlName="firstName"
                />
            </div>
            <div class="col">
                <label for="lastName" class="form-label">Прізвище</label>
                <input
                        type="text"
                        class="form-control"
                        id="lastName"
                        formControlName="lastName"
                />
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <button (click)="applyProfileChanges()" class="btn btn-primary">Зберегти зміни</button>
        </div>
        <div class="col">
            <button (click)="resetProfileChanges()" class="btn btn-outline-secondary">Скинути зміни</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-6">
            <h3 class="text-muted text-uppercase mb-4">
                Вийти з облікового запису
            </h3>
            <button (click)="logout()" class="btn btn-danger mt-3">Вийти</button>
        </div>
        <div class="col-6 col-md-6">
            <h3 class="text-muted text-uppercase mb-4">
                Видалення облікового запису
            </h3>
            <p class="text-muted">
                Якщо ви запитаєте видалення облікового запису, його буде видалено через
                14 днів. Протягом цього часу ви можете увійти до свого облікового
                запису, щоб знову активувати його та скасувати видалення. Через 14 днів
                видалення стане незворотнім.
            </p>
            <button class="btn btn-danger mt-3">Запит на видалення</button>
        </div>
    </div>
</form>

<!--<ng-container *ngIf="!(userProfile$ | async)">-->
<!--    <div class="container text-center mt-5">-->
<!--        <h2 class="text-muted">Профіль користувача не знайдено</h2>-->
<!--        <p class="text-muted">На жаль, дані профілю відсутні. Будь ласка, залогуйтеся або створіть профіль.</p>-->
<!--    </div>-->
<!--</ng-container>-->