<section class="order-history-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-11 mb-3">
                <h1>Оформлення замовлення</h1>
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-3 checkout-block">
                <div class="personal-data">
                    <h2>Особисті дані</h2>
                    <div class="personal-data-block">
                        <p>Прізвище Ім’я</p>
                    </div>
                    <div class="personal-data-block">
                        <p>email@email.com</p>
                    </div>
                    <div class="personal-data-block">
                        <p>Україна, Харків, вул. Вулиця, 61001</p>
                    </div>
                </div>
                <div class="delivery-method">
                    <h2>Спосіб доставки</h2>
                    <select name="post">
                        <option value="1">Відділення ПОШТА1</option>
                        <option value="2">Відділення ПОШТА2</option>
                        <option value="3">Кур'єром (ПОШТА1)</option>
                    </select>
                </div>
                <div class="payment-method">
                    <h2>Спосіб оплати</h2>
                    <select name="payment">
                        <option value="1">Mastercard</option>
                        <option value="2">Visa</option>
                    </select>
                    <div class="credit-card-number-block">
                        <p>Номер кредитної картки</p>
                        <input type="text" id="creditCard" name="creditCardNumber">
                    </div>
                    <div class="credit-card-cvv-date-block">
                        <div class="">
                            <p>Термін дії</p>
                            <input type="text" id="date" name="creditCardDate">
                        </div>
                        <div class="d-flex flex-column align-items-end">
                            <p>CVV</p>
                            <input type="text" id="cvv" name="creditCardCvv">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-5">
                <div class="order-checkout-list">
                    <h2>Ваше замовлення</h2>
                    <div class="product-cart-table-content">
                        <div class="product-cart-table-item">
                            <div class="row">
                                <div class="product-cart-item-name">
                                    <div class="product-cart-item-image">
                                        <img src="assets/images/product-image5.png" alt="product-image">
                                    </div>
                                    <div class="product-cart-item-name-title-color">
                                        <div>
                                            <div class="product-cart-item-name-title">
                                                <p>Бавовняне худі</p>
                                            </div>
                                            <div class="product-cart-item-name-color-size">
                                                <p>Колір: <span>steel blue</span></p>
                                                <p>Розмір: <span>S | UA 46-48</span></p>
                                            </div>
                                        </div>
                                        <div class="product-cart-item-price">
                                            <p>1 шт.</p>
                                            <p>1 199 UAH</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-cart-table-item">
                            <div class="row">
                                <div class="product-cart-item-name">
                                    <div class="product-cart-item-image">
                                        <img src="assets/images/product-image5.png" alt="product-image">
                                    </div>
                                    <div class="product-cart-item-name-title-color">
                                        <div>
                                            <div class="product-cart-item-name-title">
                                                <p>Бавовняне худі</p>
                                            </div>
                                            <div class="product-cart-item-name-color-size">
                                                <p>Колір: <span>steel blue</span></p>
                                                <p>Розмір: <span>S | UA 46-48</span></p>
                                            </div>
                                        </div>
                                        <div class="product-cart-item-price">
                                            <p>1 шт.</p>
                                            <p>1 199 UAH</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkout-total-price-block">
                        <div class="checkout-total-price-item">
                            <p class="checkout-total-price-title"><span>2</span> товари на суму</p>
                            <p class="checkout-total-price-subblock">2 398 UAH</p>
                        </div>
                        <div class="checkout-total-price-item">
                            <p class="checkout-total-price-title">Доставка</p>
                            <p class="checkout-total-price-subblock">129 UAH</p>
                        </div>
                        <div class="checkout-total-price-item">
                            <p class="checkout-total-price-title">Знижка</p>
                            <p class="checkout-total-price-subblock"></p>
                        </div>
                        <div class="checkout-total-price-item">
                            <p class="checkout-total-price-subblock">Всього</p>
                            <p class="checkout-total-price-subblock">2 527 UAH</p>
                        </div>
                    </div>
                    <div class="checkout-button d-flex justify-content-end">
                        <a href="">Оформити замовлення</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</section>