.order-history-section{
  .checkout-block{
    margin-bottom: 50px;
    .personal-data{
      .personal-data-block{
        p{
          margin-top: 20px;
          color: #000;
          leading-trim: both;
          text-edge: cap;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    .delivery-method{
      margin-bottom: 20px;
      select{
        border: none;
        border-bottom: 1px solid black;
        width: 100%;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 10px 0 10px 0;
      }
    }
    .payment-method{
      select{
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid black;
        width: 100%;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 10px 0 10px 0;
      }
      .credit-card-number-block{
        p{
          color: #373737;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 13.5px;
        }
        input{
          width: 100%;
          border-radius: 5px;
          border: 1px solid #C5C7CD;
        }
      }
      .credit-card-cvv-date-block{
        display: flex;
        margin-top: 15px;
        p{
          color: #373737;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 13.5px;
        }
        input{
          width: 80%;
          border-radius: 5px;
          border: 1px solid #C5C7CD;
        }
      }
    }
  }
  .order-checkout-list{
    .product-cart-table-content{
      .product-cart-table-item{
        margin-top: 19px;
        padding-bottom: 19px;
        border-bottom: 1px solid #777E90;
        .product-cart-item-name{
          display: flex;
          .product-cart-item-image{
            img{
              width: 120px;
              height: 160px;
            }
          }
          .product-cart-item-name-title-color{
            margin-left: 18px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .product-cart-item-name-title{
              p{
                color: #000;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 0;
              }
            }
            .product-cart-item-name-color-size{
              margin-bottom: 10px;
              p{
                color: #868686;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 5px;
              }
            }
          }
        }
        .product-cart-item-price{
          display: flex;
          align-items: center;
          justify-content: space-between;
          p{
            color: #000;
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25.6px;
            letter-spacing: -0.9px;
            margin-bottom: 0;
          }
        }
      }
    }
    .checkout-total-price-block{
      margin-top: 20px;
      .checkout-total-price-item{
        display: flex;
        justify-content: space-between;
      }
      .checkout-total-price-title{
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      .checkout-total-price-subblock{
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .checkout-button{
      margin-bottom: 30px;
      a{
        width: 219px;
        height: 40px;
        text-align: center;
        background-color: black;
        padding-top: 9px;
        text-decoration: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: white;
        border: 1px solid transparent;
        transition: 0.15s ease-in;
        &:hover{
          color: black;
          border: 1px solid black;
          background-color: white;
        }
      }
    }
  }
}

