<section class="order-history-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-8">
                <div class="order-history-title">
                    <h1>Історія покупок</h1>
                </div>
                <div class="order-history-block">
                    <div class="order-history-table-row-titles">
                        <div class="row">
                            <div class="col-lg-5 product-row-title">
                                <p>Продукт</p>
                            </div>
                            <div class="col-lg-1 amount-row-title">
                                <p>Кількість</p>
                            </div>
                            <div class="col-lg-2 data-row-title">
                                <p>ДАТА</p>
                            </div>
                            <div class="col-lg-2 order-price-row-title">
                                <p>№ ЗАМОВЛЕННЯ</p>
                            </div>
                            <div class="col-lg-2 price-row-title">
                                <p>Сума</p>
                            </div>
                        </div>
                    </div>
                    <div class="order-history-table-content">
                        <div class="order-history-table-item">
                            <div class="row order-history-table-item-product">
                                <div class="col-lg-5 order-history-item-name">
                                    <div class="order-history-item-image">
                                        <img src="assets/images/product-image5.png" alt="product-image">
                                    </div>
                                    <div class="order-history-item-name-title-color">
                                        <div class="order-history-item-name-title">
                                            <p>Бавовняне худі</p>
                                        </div>
                                        <div class="order-history-item-name-color-size">
                                            <p>Колір: <span>steel blue</span></p>
                                            <p>Розмір: <span>S | UA 46-48</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 order-history-item-amount">
                                    <p>1</p>
                                </div>
                                <div class="col-lg-2 order-history-item-date">
                                    <p>30.12.2023</p>
                                </div>
                                <div class="col-lg-2 order-history-item-order">
                                    <p>2313982198</p>
                                </div>
                                <div class="col-lg-2 order-history-item-price">
                                    <p>129 UAH</p>
                                </div>
                            </div>
                            <div class="row order-history-table-item-product">
                                <div class="col-lg-5 order-history-item-name">
                                    <div class="order-history-item-image">
                                        <img src="assets/images/product-image5.png" alt="product-image">
                                    </div>
                                    <div class="order-history-item-name-title-color">
                                        <div class="order-history-item-name-title">
                                            <p>Бавовняне худі</p>
                                        </div>
                                        <div class="order-history-item-name-color-size">
                                            <p>Колір: <span>steel blue</span></p>
                                            <p>Розмір: <span>S | UA 46-48</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 order-history-item-amount">
                                    <p>1</p>
                                </div>
                            </div>
                            <div class="row order-history-table-item-product">
                                <div class="col-lg-5 order-history-item-name">
                                    <div class="order-history-item-image">
                                        <img src="assets/images/product-image5.png" alt="product-image">
                                    </div>
                                    <div class="order-history-item-name-title-color">
                                        <div class="order-history-item-name-title">
                                            <p>Бавовняне худі</p>
                                        </div>
                                        <div class="order-history-item-name-color-size">
                                            <p>Колір: <span>steel blue</span></p>
                                            <p>Розмір: <span>S | UA 46-48</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 order-history-item-amount">
                                    <p>2</p>
                                </div>
                            </div>
                        </div>
                        <div class="order-history-table-item">
                            <div class="row order-history-table-item-product">
                                <div class="col-lg-5 order-history-item-name">
                                    <div class="order-history-item-image">
                                        <img src="assets/images/product-image5.png" alt="product-image">
                                    </div>
                                    <div class="order-history-item-name-title-color">
                                        <div class="order-history-item-name-title">
                                            <p>Бавовняне худі</p>
                                        </div>
                                        <div class="order-history-item-name-color-size">
                                            <p>Колір: <span>steel blue</span></p>
                                            <p>Розмір: <span>S | UA 46-48</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 order-history-item-amount">
                                    <p>1</p>
                                </div>
                                <div class="col-lg-2 order-history-item-date">
                                    <p>30.12.2023</p>
                                </div>
                                <div class="col-lg-2 order-history-item-order">
                                    <p>2313982198</p>
                                </div>
                                <div class="col-lg-2 order-history-item-price">
                                    <p>129 UAH</p>
                                </div>
                            </div>
                            <div class="row order-history-table-item-product">
                                <div class="col-lg-5 order-history-item-name">
                                    <div class="order-history-item-image">
                                        <img src="assets/images/product-image5.png" alt="product-image">
                                    </div>
                                    <div class="order-history-item-name-title-color">
                                        <div class="order-history-item-name-title">
                                            <p>Бавовняне худі</p>
                                        </div>
                                        <div class="order-history-item-name-color-size">
                                            <p>Колір: <span>steel blue</span></p>
                                            <p>Розмір: <span>S | UA 46-48</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 order-history-item-amount">
                                    <p>1</p>
                                </div>
                            </div>
                            <div class="row order-history-table-item-product">
                                <div class="col-lg-5 order-history-item-name">
                                    <div class="order-history-item-image">
                                        <img src="assets/images/product-image5.png" alt="product-image">
                                    </div>
                                    <div class="order-history-item-name-title-color">
                                        <div class="order-history-item-name-title">
                                            <p>Бавовняне худі</p>
                                        </div>
                                        <div class="order-history-item-name-color-size">
                                            <p>Колір: <span>steel blue</span></p>
                                            <p>Розмір: <span>S | UA 46-48</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 order-history-item-amount">
                                    <p>2</p>
                                </div>
                            </div>
                        </div>
                        <div class="order-history-table-item">
                            <div class="row order-history-table-item-product">
                                <div class="col-lg-5 order-history-item-name">
                                    <div class="order-history-item-image">
                                        <img src="assets/images/product-image5.png" alt="product-image">
                                    </div>
                                    <div class="order-history-item-name-title-color">
                                        <div class="order-history-item-name-title">
                                            <p>Бавовняне худі</p>
                                        </div>
                                        <div class="order-history-item-name-color-size">
                                            <p>Колір: <span>steel blue</span></p>
                                            <p>Розмір: <span>S | UA 46-48</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 order-history-item-amount">
                                    <p>1</p>
                                </div>
                                <div class="col-lg-2 order-history-item-date">
                                    <p>30.12.2023</p>
                                </div>
                                <div class="col-lg-2 order-history-item-order">
                                    <p>2313982198</p>
                                </div>
                                <div class="col-lg-2 order-history-item-price">
                                    <p>129 UAH</p>
                                </div>
                            </div>
                            <div class="row order-history-table-item-product">
                                <div class="col-lg-5 order-history-item-name">
                                    <div class="order-history-item-image">
                                        <img src="assets/images/product-image5.png" alt="product-image">
                                    </div>
                                    <div class="order-history-item-name-title-color">
                                        <div class="order-history-item-name-title">
                                            <p>Бавовняне худі</p>
                                        </div>
                                        <div class="order-history-item-name-color-size">
                                            <p>Колір: <span>steel blue</span></p>
                                            <p>Розмір: <span>S | UA 46-48</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 order-history-item-amount">
                                    <p>1</p>
                                </div>
                            </div>
                            <div class="row order-history-table-item-product">
                                <div class="col-lg-5 order-history-item-name">
                                    <div class="order-history-item-image">
                                        <img src="assets/images/product-image5.png" alt="product-image">
                                    </div>
                                    <div class="order-history-item-name-title-color">
                                        <div class="order-history-item-name-title">
                                            <p>Бавовняне худі</p>
                                        </div>
                                        <div class="order-history-item-name-color-size">
                                            <p>Колір: <span>steel blue</span></p>
                                            <p>Розмір: <span>S | UA 46-48</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 order-history-item-amount">
                                    <p>2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>