<section class="order-history-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="order-history-title">
                    <h1>Історія покупок</h1>
                </div>
                <div class="order-history-block">
                    <div class="order-history-table-row-titles">
                        <div class="row">
                            <div class="col-lg-5 product-row-title">
                                <p>Продукт</p>
                            </div>

<!--                            <div class="col-lg-2 data-row-title">-->
<!--                                <p>ДАТА</p>-->
<!--                            </div>-->
                            <div class="col-lg-2 order-price-row-title">
                                <p>№ ЗАМОВЛЕННЯ</p>
                            </div>
                            <div class="col-lg-2 amount-row-title">
                                <p>Кількість</p>
                            </div>
<!--                            <div class="col-lg-2 price-row-title">-->
<!--                                <p>Сума</p>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div *ngFor="let order of orders" class="order-history-table-content">
                        <div></div>
                        <div *ngFor="let orderItem of order.items" class="order-history-table-item">

                            <div class="row order-history-table-item-product">
                                <div class="col-lg-5 order-history-item-name">
                                    <div class="order-history-item-image">
                                        <img [src]="'data:image/jpg;base64,' + getImageById(orderItem.productId)" alt="product-image">
                                    </div>
                                    <div class="order-history-item-name-title-color">
                                        <div class="order-history-item-name-title">
                                            <p>{{orderItem.productName}}</p>
                                        </div>
                                        <div class="order-history-item-name-color-size">
                                            <p>Колір: <span>{{orderItem.color}}</span></p>
                                            <p>Розмір: <span>{{orderItem.size}}</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 order-history-item-amount">
                                    <p>{{order.id}}</p>
                                </div>
                                <div class="col-lg-2 order-history-item-amount">
                                    <p>{{orderItem.quantity}}</p>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>