<div id="imageSlider" class="carousel slide" data-bs-ride="carousel">
    <div class="row">
        <div class="col-2 d-flex">
            <div class="d-flex flex-column justify-content-between">
                <ng-container *ngFor="let image of images; let i = index">
                    <div class="thumbnail-item active" data-bs-target="#imageSlider" data-bs-slide-to="">
                        <img [src]="'data:image/jpg;base64,' + image.data" alt="{{image.name}}">
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-10">
            <div class="carousel-inner">
                <ng-container *ngFor="let image of images; let i = index">
                    <div class="carousel-item active">
                        <img [src]="'data:image/jpg;base64,' + image.data" class="d-block w-100" alt="{{image.name}}">
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
